/* Estilo1.css */

/* Estilos para las imágenes */
img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
    background-color: rgb(182, 188, 190);
    border-radius: 10px; 
}

/* Estilos para la barra de búsqueda */
.container-1 input#search{
    width: 200px;
    height: 45px;
    background: #456df1;
    border: none;
    font-size: 10pt;
    float: left;
    color: #dbdee0;
    padding-left: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}

/* Estilos para la barra de navegación */
nav {
    float: left;
    position: relative; 
}

/* Estilos para el cuadro de búsqueda */
.box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -550px; 
}

/* Estilos para el encabezado */
header {
    background-color: rgb(36, 37, 41);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    text-align: center;
}

/* Estilos para el título h1 */
h1 {
    background-color: #eeeded;
    padding: 20px;
}

/* Estilos para la barra de navegación */
nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fffcfc;
    text-decoration: none;
}

nav ul li:hover {
    background: #2605e0;
}

/* Estilos para el contenedor de las imágenes y párrafos */
div.images-container {
    margin-top: 250px;
    background-color: #e7e5e5;
    padding: 20px;
}

/* Estilos para el contenedor de una imagen y párrafo */
div.image-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos para el párrafo */
div.image-box p {
    margin-left: 20px;
}
/* Estilos para la barra inferior con redes sociales */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    opacity: 0.8;
  }